<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Follow Us</div>
        </div>
<%= render 'form' %>
<%= link_to 'Back', manage_follow_us_path %>
</div>
</div>
</div>