<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Heal</div>
        </div>
<%= render 'form' %>

<%= link_to 'Show', @manage_heal %> |
<%= link_to 'Back', manage_heals_path %>
</div>
</div>
</div>