<div class="bradcrumb"><a href="/home">Home</a><a href="/glow/index">Glow</a><span>Haircare</span> </div>
<div>
	<ul class="articleBox">
		<li>
            <div class="articleLeft"><a href="#"><%= image_tag "19.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Hair care by ayurveda</a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>Hair Treatment Pranayama is the art of effective breath control. Practicing proper techniques of breathing can help bring more oxygen to the blood and brain, eventually helping control prana or the vital life energy. Pra
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>
