<div class="bradcrumb"><a href="/home">Home</a><a href="/glow/index">Glow</a><span>Reviews</span> </div>
<div>
	<ul class="articleBox">
      	<li>
            <div class="articleLeft"><a href="#"><%= image_tag "pose_img4.jpg"%></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Catching up with Kathryn</a></div>
                <div class="by">By Ashleigh Owen&nbsp;&nbsp;3 January 2014</div>
                <div>Acupuncturist Martine Nates explains how this ancient Chinese therapy empowers and calms couples before the birth of their baby</div>
            </div>
        	<div class="clr"></div>
        </li>
    </ul>
</div>