<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit CMS</div>
        </div>
<%= render 'form' %>

<%= link_to 'Show', @cm %> |
<%= link_to 'Back', cms_path %>
</div>
</div>
</div>