<div class="midRight">
	<div class="rightMid">
        <div class="mainHd">Dashboard</div>
        <div class="topText"><strong>Yoga Life</strong> Control Panel</div>
        <div class="dashbordLink"><a href="#"><img src="assets/main_setting.png" alt=""><br>Admin<br>Account Settings</a>
        </div>
		<div class="dashbordLink"><a href="/cms"><img src="assets/cms_system.png" alt=""><br>CMS<br>System</a>
		</div>
		<div class="dashbordLink"><a href="horoscopes"><img src="assets/horoscope-2-70x70.jpg" alt=""><br>Horoscopes<br></a>
		</div>
        <div class="clr"></div>
	</div>
</div>