<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Team Members</div>
        </div>

<%= render 'form' %>

<%= link_to 'Show', @manage_team %> |
<%= link_to 'Back', manage_teams_path %>

</div>
</div>
</div>
