<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Banner</div>
        </div>

<%= render 'form' %>

<%= link_to 'Show', @banner %> |
<%= link_to 'Back', banners_path %>

</div>
</div>