<div id="paged-data-container">
	<div class="tableCon">
	  	<div class="formHdBox">
		    <div class="tableHd">Admin Setting:  <span> </span>View Banner</div>
  		</div>
	  	<div class="adminform">
			<div class="left">

				<div class="fldline">
					<div class="label"><b>Image:</b></div>
					<div class="fld"><%= image_tag(@banner.image, :width => 300) if @banner.image.present? %></div>
					<div class="clr"></div>
				</div>

				<div class="fldline">
					<div class="label"><b>URL:</b></div>
					<div class="fld"><%= @banner.url %></div>
					<div class="clr"></div>
				</div>
					 								
			</div>
			
			<div class="clr"></div>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
