<section class="midCon clearfix">
<aside class="midLeft">
	<div class="bradcrumb"><a href="/home">Home</a><a href="/events">Events</a><span><%= truncate( raw( sanitize(@event.name) ), :length => 20, :omission => "...") %></span></div>
	<div>
        <h1><%= @event.name %></h1>
        <div class="articleShare fr">
        	<a class="twitter popup" href="http://twitter.com" onclick="return popitup('http://twitter.com/home?status=')"><i class="twitterIcon"></i>Tweet this article</a>
            <a href="http://www.facebook.com" onclick="return popitup('http://www.facebook.com')"><i class="facebookIcon"></i>Share on Facebook</a>
            <a href="mailto:abc@xyz.in?Subject=Yogalife News&amp;body=Hi" class="last"><i class="emailIcon"></i></a>
        </div>
        <div class="clr"></div>
    	<div><%= @event.desc %></div>
    	
        <div id="rg-gallery" class="eventGallery rg-gallery">
        	<div class="rg-view">
        		<a href="#" class="rg-view-full"></a>
        		<a href="#" class="rg-view-thumbs rg-view-selected"></a>
    		</div>
            <div class="rg-thumbs">
                <div class="es-carousel-wrapper">
                    <div class="es-carousel">
                        <ul style="width: 800px; display: block; margin-left: -95px;">
                            <li style="margin-right: 10px; width: 65px;" class=""><a href="#" style="border-width: 0px;"><%= image_tag(@event.event_image, :height => 150) %></a></li>
                        </ul>
                    </div>
                <!-- <div class="es-nav">
                	<span class="es-nav-prev" style="display: inline;">Previous</span>
                	<span class="es-nav-next" style="display: none;">Next</span>
            	</div> -->
        	</div>
        </div>
        <!-- <div class="rg-image-wrapper">
        	<div class="rg-image-nav">
        		<a href="#" class="rg-image-nav-prev">Previous</a>
        		<a href="#" class="rg-image-nav-next">Next</a>
    		</div>
    		<div class="rg-image"><img src="http://100.100.7/anuj/yogalife/public/media/news/event_image_1__1390473587.jpg"></div>
    		<div class="rg-loading" style="display: none;"></div>
    		<div class="rg-caption-wrapper">
    			<div class="rg-caption" style="display:none;"><p></p></div>
			</div>
		</div> -->
	</div>
</div>
</aside>
</section>