<section class="midCon clearfix">
<aside class="midLeft">
    <div class="bradcrumb"><a href="/home">Home</a><a href="/article">Article</a><span><%= @article.title %></span></div>
    <div>
        <h1><%= @article.title %></h1>
        <div class="articleShare">
            <a class="twitter popup" href="http://twitter.com" onclick="return popitup('http://twitter.com/home?status=')"><i class="twitterIcon"></i>Tweet this article</a>
            <a href="http://www.facebook.com" onclick="return popitup('http://www.facebook.com')"><i class="facebookIcon"></i>Share on Facebook</a>
            <a href="mailto:abc@xyz.in?Subject=Yogalife article&amp;body=Hi" class="last"><i class="emailIcon"></i></a>
        </div>
        <div class="clr"></div>

        <div class="contentBox">
            <%= image_tag(@article.image, :class => "articleImg", :width => 300, :height => 250) %>
            <%= raw(@article.desc) %> 
        </div>
    </div>
    <br>
    <br>
    <br>
</aside>
</section>