<div class="bradcrumb"><a href="/home">Home</a><a href="/pose/index">Pose</a><span>Asanas and sequences</span> </div>
<div>
	<ul class="articleBox">
		<li>
    		<div class="articleLeft"><a href="#"><%= image_tag "pose_img5.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Making a connection</a></div>
                <div class="by">By Ashleigh Owen&nbsp;&nbsp;3 January 2014</div>
                <div>One of the world’s best-known yogis Kathryn Budig chatted with Nathalie Hodgson about her first visit to Dubai, the controversial Toe Sox ads, fame, her recent book and future plans
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>
