<div class="bradcrumb"><a href="/home">Home</a><a href="/pose/index">Pose</a><span>Pilates</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag "124.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Pilates Segment</a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>Pilates Anytime offers you great classes whenever and wherever you want.Need help starting on the reformer? Feeling overwhelmed or want more details to strengthen and sculpt your body? This series breaks down the Basic R
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>