<div class="bradcrumb"><a href="/home">Home</a><a href="/pose/index">Pose</a><span>Pranayama</span> </div>
<div>
	<ul class="articleBox">
		<li>
            <div class="articleLeft"><a href="#"><%= image_tag "old yoga.jpg" %></a>
            </div>
            <div class="articleRight">
                <div class="hd"><a href="#">Pranayama </a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>Pranayama &amp; Meditation Pranayama is the art of effective breath control. Practicing proper techniques of breathing can help bring more oxygen to the blood and brain, eventually helping control prana or the vital life
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>