<div class="bradcrumb"><a href="/home">Home</a><a href="/pose/index">Pose</a><span>Yoga</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag "2.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Ardha Chandraasana &amp; Veerbhadrasana </a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>Veerbhadrasana : This is an aasana is a continuation of the veerbhadrasana . This aasana is great to strengthen the muscles in your back, thighs, abdomen and core.Steps to do this pose: Follow the same steps as Veerbhadr
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>