<div class="bradcrumb"><a href="/home">Home</a><a href="/green/index">Green</a><span>Living Green</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag "green yoga.jpg" %></a></div>
            <div class="articleRight">
            <div class="hd"><a href="#">Green Planet</a></div>
                <div class="by">ByPavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>Women EmpowermentThe Art of Living empowers women to face the present challenges by providing tools and techniques that help to eliminate individual stress. A sense of community spirit is created that allows for women to
                </div>
            </div>
            <div class="clr"></div>
        </li>
	</ul>
</div>