<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Green</div>
        </div>
<%= render 'form' %>

<%= link_to 'Show', @manage_green %> |
<%= link_to 'Back', manage_greens_path %>
</div>
</div>
</div>