<div class="bradcrumb"><a href="/home">Home</a><a href="/retreat/index">Retreat</a><span>International</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag "123.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="/anuj/yogalife/article/viewarticle/id/22">Balasana</a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>Balasana:&nbsp;Known quite aptly as the child’s pose this is a great stress buster. It gently stretches the hips, thighs, ankles, calms the mind and helps relieve stress and fatigue. It is also a great remedy for
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>