<div class="bradcrumb"><a href="/home">Home</a><a href="/retreat/index">Retreat</a><span>Local</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag "green yoga.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Kumbhakasana</a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>Kumbhakasana : Also known as the plank pose this aasana is the most simple yet effective pose in Yoga. It strengthens and tones your arms, shoulders, back, buttocks, thighs and not to mention your abs. interestingly this
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>