<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Monthly Horoscopes</div>
        </div>
	<%= render 'form' %>
	<%= link_to 'Show', @horoscopes %> |
	<%= link_to 'Back', horoscopes_path %>
    </div>
</div>
</div>