<div class="bradcrumb"><a href="/home">Home</a><a href="/heal/index">Heal</a><span>Body</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag "heal_img2.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">From Dsarkness To Light</a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;22 January 2014</div>
                <div>The rest in meditation is deeper than the deepest sleep that you can ever have. When the mind becomes free from agitation, is calm and serene and at peace, meditation happens.The benefits of meditation are manifold. It i
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>
