<div class="bradcrumb"><a href="/home">Home</a><a href="/heal/index">Heal</a><span>Mind</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag  "3.JPG" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Meditation for Peace of Mind</a></div>
                <div class="by">By Ashleigh Owen&nbsp;&nbsp;15 January 2014</div>
                <div>Sit up with your legs stretched out straight in front of you, keeping your feet together and your spine erect. Bend your left leg and place the heel of your left foot beside your right hip (optionally, you can keep
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>
