<div class="bradcrumb"><a href="/home">Home</a><a href="/heal/index">Heal</a><span>Spirit</span> </div>
<div>
    <ul class="articleBox">
        <li>
            <div class="articleLeft"><a href="#"><%= image_tag "5y.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Soul Sprit</a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>What To Expect When You Come To Spirit:&nbsp;Park across the street in the Staples parking lot or on the street&nbsp;The studio is mildly heated between 90 to 97 degrees and is fairly humid due to the fact that we have l
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>