<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Add News</div>
        </div>
		<%= render 'form' %>
		<%= link_to 'Back', manage_news_index_path %>
	</div>
</div>
</div>