<div id="paged-data-container">
<div class="tableCon">
  <div class="formHdBox">
    <div class="tableHd">Country List</div>
    <div class="selectCity"><img src="assets/addnew.png" border="0"><%= link_to 'Add Country', new_country_path %>
    </div>
  </div>
  <div class="paged-data">
    <div class="tabIner">
      <table cellpadding="0" cellspacing="0" width="100%" class="table">
        <thead>
          <tr class="tableHdIner alt-row">
            <td width="20%" class="first">S. NO</td>
            <td>Country Name</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <% @countries.each do |country| %>
            <tr class="tableDet">
              <td class="first"><%= country.id %></td>
              <td><%= country.country %></td>
              <td align="center"><%= link_to image_tag("delete.png", :title => "Delete"), country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>