<div class="bradcrumb"><a href="/home">Home</a><a href="/nourish/index">Nourish</a><span>Nutrition</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><a href="#"><%= image_tag "15.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Green Vegetable Nutrition facts </a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>vegetable nutrition facts green vegetablesWhy should we get diet rich in vegetable nutrition?What are the health benefits of vegetables?Well!&nbsp; Vegetables, like fruits, are low in fat but contain good amounts of vita</div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>
