<div class="bradcrumb"><a href="/home">Home</a><a href="/nourish/index">Nourish</a><span>Recipes</span> </div>
<div>
	<ul class="articleBox">
    	<li>
            <div class="articleLeft"><%= image_tag "malai-kofta.jpg" %></a></div>
            <div class="articleRight">
                <div class="hd"><a href="#">Malai Kofta</a></div>
                <div class="by">By Pavan Sen&nbsp;&nbsp;23 January 2014</div>
                <div>Malai Kofta is a classic North Indian dish originated from the Mughlai cuisine. Malai refers to the cream and koftas are deep fried paneer and vegetable dumplings in rich and creamy tomato gravy. It is a rich d
                </div>
            </div>
            <div class="clr"></div>
        </li>
    </ul>
</div>