<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Where To Buy</div>
        </div>
	<%= render 'form' %>
	<%= link_to 'Show', @wheretobuy %> |
	<%= link_to 'Back', wheretobuys_path %>
    </div>
</div>
</div>