<div class="midRight">
<div class="rightMid">
    <div class="tableCon">
    	<div class="formHdBox">
        	<div class="tableHd">Admin Setting:  <span> </span>Edit Pose</div>
        </div>
	<%= render 'form' %>
<%= link_to 'Show', @manage_pose %> |
<%= link_to 'Back', manage_poses_path %>
</div>
</div>
</div>